.container-banner {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  .container-banner img {
    width: 100%;
    height: auto;
  }
  
  .container-banner .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(65, 61, 61, 0.5);
    padding:10px
  }
  .container-banner .banner-btn{
    padding-top: 30px;
  }
  .container-header-main {
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .bg-custom{
    background: rgba(65, 61, 61, 0.5);
  }
  
  .text-custom-info{
    color: #26C8EA;
  }
  
  .text-custom-danger{
    color: #F74D6A;
  }
  
  .bg-custom-info{
    background-color: #26C8EA;
  }

  .bg-custom-danger{
    background-color: #F74D6A;
  }
  .bg-custom-dark{
   background-color: #242B2E;
  }
  
  .main-heading {
    display: grid;
    align-items: center;
    }

  .img-icons{
    width: 70px;
  }

  .banner-img{
    margin: 15px 0;
    background: cover;
    opacity: .8;
  }
  a.close.disabled {
    pointer-events: none;
  }
  input[type = 'text']{
    text-transform: capitalize;
  }